.prose {
  --k-prose-headings: #222222;
  --k-prose-links: #60a5fa;
  --k-prose-borders: #dde1e3;
  --k-prose-captions: gray;
  --k-prose-code: #9ca3af;
  --k-prose-font-mono: monospace;
  --k-prose-lists: gray;
  --k-prose-hr: #dde1e3;
  --k-prose-bg-soft: #dee2e6;
}

html.dark .prose {
  --k-prose-headings: #dde1e3;
  --k-prose-links: #60a5fa;
  --k-prose-borders: #d1d5db;
  --k-prose-captions: white;
  --k-prose-code: #9ca3af;
  --k-prose-font-mono: monospace;
  --k-prose-lists: white;
  --k-prose-hr: #d1d5db;
  --k-prose-bg-soft: #6b7280;
}
