:root {
  --k-prose-text: #222222;
  --k-prose-text-highlight: #0f0f0f;
  --k-prose-text-soft: #4b5563;
  --k-prose-bg-soft: #e9e9e9;
  --k-prose-font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

:root.dark {
  --k-prose-text: #d6d3d1;
  --k-prose-text-highlight: #f6f6f6;
  --k-prose-text-soft: #a3a3a3;
  --k-prose-bg: #121212;
  --k-prose-bg-soft: #2d2d2d;
}
